<!doctype html>
<html>
<head>
    <title>Mia Kennedy</title>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css" media="all">
        @import "stylesheets/common.css";
    </style>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <table BORDER="0" CELLPADDING="0" CELLSPACING="0" bgcolor="#fdf054">
        <tr>
            <td width="536" height="75" style="background-image:url(images/mia-web_04.gif);background-repeat:repeat-x">
                <img src="images/spacer.gif" width="10"/>
                <img src="images/mia_sig.gif" alt="" />
            </td>
            <td width="130" height="75">
                <img src="images/mia-trans.gif" width="130" height="75" alt="" />
            </td>
            <td width="91" height="75">
                <img src="images/mia-foto.jpg" WIDTH="91" height="75" alt="" border="0" />
            </td>
        </tr>
        <tr>
            <td colspan="3" height="0"></td>
        </tr>
    </table>
    {{> navigation}}

    {{{body}}}
    <table BORDER="0" CELLPADDING="0" CELLSPACING="0" bgcolor="#ffffff">
        <tr>
            <td width="757" valign="top" height="20"></td>
        </tr>
        <tr>
            <td width="757" valign="top" height="10" style="background-image:url(images/gy_line.gif);background-repeat:repeat-x"></td>
        </tr>
        <tr>
            <td width="757" align="center">
                <table width="0">
                    <tr>
                        <td><img src="images/logos/msceit.gif" /></td>
                        <td><img src="images/spacer.gif" width="20" /></td>
                        <td><img src="images/logos/tki.png" /></td>
                        <td><img src="images/spacer.gif" width="20" /></td>
                        <td><img src="images/logos/mbti_logo.gif" /></td>
                        <td><img src="images/spacer.gif" width="20" /></td>
                        <td><img src="images/logos/logo_firo.png" /></td>
                        <td><img src="images/spacer.gif" width="20" /></td>
                        <td><img src="images/logos/ccu_logo.gif" /></td>
                        <td><img src="images/spacer.gif" width="20" /></td>
                        <td><img src="images/logos/hypcert.jpg" /></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td width="757" align="center" style="color:#999999; font-size: 0.7em; font-family: verdana,sans-serif">
                <p>
                    Mia Kennedy is an executive coach, who also offers training and facilitation.  
                    She is accredited to administer and process
                    MBTI (Step I and Step II), MSCEIT (emotional intelligence), TKI (conflict management), FIRO (interpersonal needs &amp; behaviours) and is an NLP hypnotist.  
                    She is a graduate of Oxford University and of Corporate Coach University. Previously she headed up the
                    strategic planning department at board level in the UK's foremost advertising agency.
                    She works independently and with a group of coaching associates
                </p>
                <p>Kennedy Inc Ltd trading as Mia Kennedy.  &copy; {{copyrightYear}} </p>
            </td>
        </tr>
    </table>
</body>
</html>