
<table BORDER="0" CELLPADDING="0" CELLSPACING="0" bgcolor="#ffffff">
    <TR>
        <TD width="20"></TD>
        <TD width="717" align="left" style="font:arial;">
            <span style="font-family:Arial;font:11pt">
                I<span style="float:right;width:550;height:110;text-align:right;"><img src="images/spacer.gif" height="20" /><br><IMG SRC="images/qt_mia.gif" WIDTH="507" HEIGHT="93" border="0"></span>f you've got a coaching, training or facilitation challenge that could do with some clear thinking and action, please get in touch.
            </span>
        </TD>
        <TD width="20"></TD>
    </TR>
</table>
<table border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
    <tr>
        <td width="10"></td>
        <td width="737" height="2" colspan="3" style="background-image:url(images/dot.gif);background-repeat:repeat-x"></td>
        <td width="10"></td>
    </tr>
</table>
<table border="0" cellpadding="0" cellspacing="00" bgcolor="#ffffff">
    <tr>
        <td width="10"></td>
        <td width="215">
            <table bgcolor="#ffffff" cellspacing="2" cellpadding="5" style="font-family:arial;font:9pt">
                <tr>
                    <td bgcolor="#dddddd">phone:</td>
                    <td bgcolor="#dddddd">+44 7889 774470</td>
                </tr>
                <tr>
                    <td bgcolor="#dddddd">e-mail:</td>
                    <td bgcolor="#dddddd"><a href="mailto:mia@kennedy.co.uk">mia@kennedy.co.uk</a> </td>
                </tr>
            </table>
        </td>
        <td width="2" height="100" style="background-image:url(images/dot.gif);background-repeat:repeat-y"></td>
        <td width="500">
            <table border="0" cellspacing="10" cellpadding="0" height="100%" width="100%">
                <tr>
                    <td bgcolor="#ffffff"></td>
                </tr>
            </table>
        </td>
        <td width="20"></td>
    </tr>
</table>
