
<table border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
    <tr>
        <td width="20"></td>
        <td width="717">
            <span style="font-family:Arial;font:11pt">
                <p>I facilitate at management team away days so that those involved reach better outcomes, more quickly than they otherwise would.</p>
                <p>T<span style="float:right;width:550;height:110;text-align:right;"><img src="images/spacer.gif" height="20" /><br /><IMG SRC="images/q32.gif" WIDTH="504" HEIGHT="93" border="0" /></span>hese are occasions where big issues are tackled such as: Where are we going with this company?  Is our size and shape future-proof? How can we grow revenue by x%? How can we work better as a top team?</p>
                <p>I provide a framework for the debate, bring disparate elements together and hold the focus on actionable outcomes.</p>
            </span>

        </td>
        <td width="20"></td>
    </tr>
    <tr><td colspan="3" height="20"></tr>

</table>

{{> collateral}}