<table border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
    <tr>
        <td width="20"></td>
        <td width="717">
            <span style="font-family:Arial;font:11pt">
                <p>I train individuals and teams so they are more confident and effective at work.</p>
                <p>M<span style="float:right;width:550;height:110;text-align:right;"><img src="images/spacer.gif" height="20" /><br/><IMG SRC="images/q31.gif" WIDTH="504" HEIGHT="93" border="0" /></span>BTI feedback &amp; applications; running brainstorms &amp; solving problems creatively and coaching skills.</p>
                <p>The benefits of working with me are that I focus on learning that is both genuinely useful and that sticks. Courses are always practical and fun.</p>
            </span>

        </td>
        <td width="20"></td>
    </tr>
    <tr><td colspan="3" height="20"></tr>

</table>

{{> collateral}}